<% provide(:title, @user.name) %>
<p><%=@user.name%></p>

<h4 id = "h4users"><%= @user.name %></h4>
<p id = "puserage">User Age: <%= @user.age %></p>
<br>

<table id="reviewstable">
  <%if (@user.reviews.length > 0) %>
    <tr>
      <th>Movie</th>
      <th>Rating</th>
      <th>Review</th>
    </tr>
    <% @user.reviews.each do |review| %>
      <tr>
          <td> <%= review.movie.title %> </td>
          <td> <%= review.rating %> </td>
          <td> <%= review.review %> </td>
      </tr>
    <%end%>

  <%end%>
</table>
