<div id="<%= dom_id review %>">
  <p>
    <strong>Title:</strong>
    <%= review.title %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= review.review %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>User:</strong>
    <%= review.user_id %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= review.movie_id %>
  </p>

</div>
